<h1>Hey There, <%= @user.nickname %>! You're awesome.</h1>
<h2>Now get to work.</h2>

<span><%= button_to('Make A Post', new_post_path, method: :get, :class => 'col-md-6 btn btn-large btn-primary')  %></span>
<%= button_to('View All Users', users_path, method: :get, :class => 'col-md-6 btn btn-large btn-primary')  %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

