<!DOCTYPE html>
<html>
<head>
  <title>Hi. I'm Lee.</title>
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= render partial: 'layouts/nav'%>
    <hr>
    <br>
    <%= yield %>
</div>

<div class='navbar navbar-default navbar-bottom'>
    <div id='footer' class='container'>
      <div class='row'>
        <div class='pull-left'>
            <% if current_user != nil %>
            <p class='navbar-text'>Logged in as: <%= current_user.email %>
            <%= link_to "Log Out", sessions_path, method: :delete %></p>
            <% end %>
        </div>
        <div class='col-md-3 col-md-offset-1 col-sm-4 col-xs-6 pull-right'>
          <ul class='list-unstyled'>              
            <li><i class='glyphicon glyphicon-certificate'></i> I Live In Los Angeles, CA</li>
            <li><i class='glyphicon glyphicon-thumbs-up'></i> 1-808-221-9677</li>
            <li><i class='glyphicon glyphicon-envelope'></i><a href='mailto:l.richardson1@gmail.com'> l.richardson1@gmail.com</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- Contact Form Modal Body -->
  <div class='modal fade' id='contact' role='dialog'>
    <div class='modal-dialog'>
      <div class='modal-content'>
        
        <div class='modal-body'>
          <div class='text-center'><%= image_tag('ghost.png') %></div>
          <br>
          <ul class='text-center list-unstyled'>
            <li><h4>Twitter - <a href='http://www.twitter.com/leerichFTW'>@LeeRichFTW</a><h4></li>
            <li><h4>GitHub - <a href='https://github.com/SeaOfLee'>SeaOfLee</a><h4></li>
            <li><h4><a href='https://www.linkedin.com/profile/public-profile-settings?trk=prof-edit-edit-public_profile'>LinkedIn</a><h4></li>
          </ul>
        </div>
        <div class='modal-footer'>
          <a class='btn btn-default' data-dismiss='modal'>Close</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
